<a href="https://colab.research.google.com/github/rafaborneo/graph_course/blob/main/Borneo_Graphs_Practico1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Práctico 1

En este práctico, correspondiente a la primera mitad de la materia, trabajaremos con un dataset extraído de Twitter. La idea es emplear los conceptos de grafos vistos en clase sobre un caso real de actualidad.

## Dataset

El dataset consiste en un conjunto de hilos de tweets, con un total de ~150000 tweets, extraídos entre Enero y Marzo de 2021. La temática de los mismos está referida a la vacunación contra el covid-19 en Argentina.

Pueden descargar el dataset del siguiente [link](https://drive.google.com/file/d/1X_qKsE8muAnom2tDX4sLlmBAO0Ikfe_G/view?usp=sharing).

### Campos

- **created_at:** Fecha del tweet
- **id_str:** ID del tweet
- **full_text:** Contenido del tweet
- **in_reply_to_status_id:** ID del tweet inmediatamente anterior en el hilo
- **in_reply_to_user_id:** Autor del tweet inmediatamente anterior en el hilo
- **user.id:** Autor del tweet
- **user_retweeters:** Lista de ID de usuarios que retweetearon el tweet
- **sentiment:** Etiquetado manual que indica el sentimiento o intención del tweet con respecto al tweet anterior en el hilo

## Configuración inicial

In [7]:
import numpy as np
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

sns.set_context('talk')
#from pathlib import Path

## Descargar el csv con los datos en este directorio
#DATA_DIR = Path('C:\Users\Rafael\Documents\AREA TRABAJO\DIPLODATOS 2021\7_opt_Analisis_Grafos\clases\Practico')
#INPUT_FILE = DATA_DIR / 'vacunas.csv'

## Creamos el directorio en caso de que no exista
#DATA_DIR.mkdir(parents=True, exist_ok=True)

In [1]:
!pip install igraph

Collecting igraph
  Downloading igraph-0.9.8-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (3.2 MB)
     |████████████████████████████████| 3.2 MB 7.5 MB/s
Collecting texttable>=1.6.2
  Downloading texttable-1.6.4-py2.py3-none-any.whl (10 kB)
Installing collected packages: texttable, igraph
Successfully installed igraph-0.9.8 texttable-1.6.4

In [2]:
import igraph
print(igraph.__version__)

0.9.8

### Cargamos el dataset

In [13]:
dtypes = {
    'id_str': str,
    'full_text': str,
    'in_reply_to_status_id': str,
    'in_reply_to_user_id': str,
    'user.id': str
}
df = pd.read_csv("vacunas.csv", dtype=dtypes).dropna(subset=['user_retweeters'])
df['user_retweeters'] = df['user_retweeters'].apply(lambda x: [str(elem) for elem in eval(x)])
print(df.shape)
df.head()

(155123, 8)

                       created_at  ... sentiment
0  Sat Feb 20 03:09:10 +0000 2021  ...       NaN
1  Sat Feb 20 03:19:59 +0000 2021  ...       NaN
2  Mon Feb 22 23:55:08 +0000 2021  ...       NaN
3  Tue Feb 23 00:09:14 +0000 2021  ...       NaN
4  Tue Feb 23 00:00:17 +0000 2021  ...       NaN

[5 rows x 8 columns]

### Observamos algunos ejemplos

In [14]:
idx = 0
print('Texto:', df.full_text.values[idx])
print('Retweets:', len(df.user_retweeters.values[idx]))

Texto: Seguimos esperando el comunicado de @norabar repudiando la situación respecto del gobierno y el tema vacunas. Seamos pacientes que con esto de la pandemia anda con mucho "laburo".
Retweets: 9

In [15]:
idx = 376
print('Text:', df.full_text.values[idx])
print('Retweets:', len(df.user_retweeters.values[idx]))

Text: Todo lo que hay que entender sobre la decisión –o no– de poner más vacunas en más brazos (por ejemplo, usar las 1º dosis en muchos y si es necesario retrasar la 2º) está en esta excelente nota de Nora Bär. https://t.co/A0I03DyxgO
Retweets: 48

### Calculamos la cantidad de hilos

In [16]:
roots = df[df['in_reply_to_user_id'].isna()]
roots.shape

(3174, 8)

## Actividades

### **1. Construcción del grafo** 

Construir el **grafo de retweets**, definido de la siguiente manera:

- Tipo de grafo: Dirigido
- Nodos: ID de los usuarios
- Enlaces: (Usuario A) ---> (Usuario B) si B retweeteó algún tweet de A

Con estos datos, el grafo debería tener alrededor de 40000 nodos y 90000 enlaces.

Considerar la versión no dirigida del grafo y estudiar su conectividad. Si existe una única "componente gigante", realizar el resto de las actividades sobre ella, en lugar de sobre el grafo completo.

Calcular las siguientes métricas globales del grafo:

- Grado medio
- Asortatividad
- Transitividad
- Coeficiente de clustering de Watts-Strogatz

**Opcional:** Comparar las métricas calculadas anteriormente con las de un grafo aleatorio con la misma distribución de grado. Pueden utilizar para ello este [método](https://networkx.org/documentation/stable/reference/generated/networkx.generators.degree_seq.configuration_model.html?highlight=configuration#networkx.generators.degree_seq.configuration_model). Con esto en mente, comentar si los valores obtenidos anteriormente difieren significativamente del caso aleatorio.


### **2. Centralidad**

Calcular 5 métricas de centralidad de nodos. Graficar la distribución de cada una de ellas ¿Existe alguna correlación entre las distintas centralidades? 

Hacer un ranking con los 10 nodos más centrales para cada métrica. ¿Hay coincidencia entre los rankings?. ¿Qué características tienen los usuarios más centrales y sus respectivos tweets?

**Opcional:** Determinar si existe alguna correlación entre la centralidad de un nodo y su actividad en red social. Es decir, evaluar si los usuarios que más escriben son los más centrales o no.

### **3. Comunidades**

Utilizar el algoritmo de Louvain con el parámetro "resolución" igual a 1. Caracterizar las comunidades halladas (cantidad, distribución de tamaños). Utilizar la modularidad y otras dos métricas a elección para evaluar la calidad de la partición encontrada. 

Variar el parámetro "resolución" y observar cómo cambia la distribución de comunidades encontradas. ¿Existe algún valor para el cual se identifiquen dos grandes comunidades?

Elegir otro algoritmo de detección de comunidades y comparar los resultados con los obtenidos anteriormente.

**Opcional:** Correr el algoritmo de Louvain con distintas semillas aleatorias. Utilizar alguna métrica de comparación externa entre las particiones obtenidas para determinar en qué medida depende el algoritmo de la condición inicial.

In [17]:

#expansion columna user_retweeters
df1= df.explode("user_retweeters", ignore_index=True)
print(df1.shape)
df1.head()

(320948, 8)

                       created_at  ... sentiment
0  Sat Feb 20 03:09:10 +0000 2021  ...       NaN
1  Sat Feb 20 03:09:10 +0000 2021  ...       NaN
2  Sat Feb 20 03:09:10 +0000 2021  ...       NaN
3  Sat Feb 20 03:09:10 +0000 2021  ...       NaN
4  Sat Feb 20 03:09:10 +0000 2021  ...       NaN

[5 rows x 8 columns]

In [18]:
df1 = df1.dropna(subset=['user.id','user_retweeters'])
print(df1.shape)
df1.head()

(187297, 8)

                       created_at  ... sentiment
0  Sat Feb 20 03:09:10 +0000 2021  ...       NaN
1  Sat Feb 20 03:09:10 +0000 2021  ...       NaN
2  Sat Feb 20 03:09:10 +0000 2021  ...       NaN
3  Sat Feb 20 03:09:10 +0000 2021  ...       NaN
4  Sat Feb 20 03:09:10 +0000 2021  ...       NaN

[5 rows x 8 columns]

In [19]:
dir_G =  nx.from_pandas_edgelist(df1, source='user.id', target='user_retweeters', edge_attr=None, create_using=None, edge_key=None)

In [20]:
print(dir_G)

Graph with 39800 nodes and 93404 edges

In [ ]:
#METRICAS GLOBALES

In [21]:
print(nx.info(dir_G))

Graph with 39800 nodes and 93404 edges

In [22]:
#lista de grados del grafo
grados = [val for (node, val) in dir_G.degree()]

In [23]:
#grado medio:promedio de los grados de cada nodo
grado_medio= sum(grados)/len(grados)
print(grado_medio)

4.693668341708543

In [24]:
#ASORTATIVIDAD BASADA EN EL GRADO; DEGREE CORRELATION; DEGREE ASSORTATIVITY
r = nx.degree_assortativity_coefficient(dir_G)
print(r)
#el valor negativo indica  que la red es DISORTATIVA

-0.2213190254294167

In [25]:
#Construimos un DataFrame de pandas para almacenar la estadística de los nodos
df3 = pd.DataFrame(index=list(dir_G.nodes()))
df3.shape

(39800, 0)

# TRANSITIVIDAD Coeficiente de clustering

In [26]:
clustering_coefficient = nx.clustering(dir_G)
df3['Cws'] = list(clustering_coefficient.values())
df3

                         Cws
2737379453          0.000000
2258074658          0.052632
159909978           0.000000
105301854           0.066667
290671142           0.066667
...                      ...
2765081259          0.000000
339254354           0.000000
346605471           0.000000
58065646            0.000000
823874633216692225  0.000000

[39800 rows x 1 columns]

# **CENTRALIDAD**

In [39]:
deg_centrality = nx.degree_centrality(dir_G)

In [40]:
pr = nx.pagerank(dir_G, alpha = 0.8)

In [43]:
df3['degree_cent'] = list(deg_centrality.values())
df3['page_rank'] = list(pr.values())

In [ ]:
#NO SE PROCASARON BETWENESS Y CLOSENESS . DESPUES DE DOS HORAS NO SE HABIA OBTENIDO RESULTADOS

In [44]:
df3

                         Cws  degree_cent  page_rank
2737379453          0.000000     0.000226   0.000038
2258074658          0.052632     0.000477   0.000066
159909978           0.000000     0.000025   0.000008
105301854           0.066667     0.000251   0.000035
290671142           0.066667     0.000377   0.000053
...                      ...          ...        ...
2765081259          0.000000     0.000025   0.000025
339254354           0.000000     0.000151   0.000031
346605471           0.000000     0.000025   0.000009
58065646            0.000000     0.000025   0.000007
823874633216692225  0.000000     0.000025   0.000008

[39800 rows x 3 columns]